a {
    text-decoration: none;
}
body {
   
    height: 100%;
    background: linear-gradient(90deg,#2F2F2F  80%,#000000 50%);
}
nav {
    margin: 30px 30px 30px;
}
nav a {
    text-decoration: none;
    color:#AEB6BF ;
    display: inline-block;       
    padding-right: 25px; 

}
#news-post {
    border-bottom: solid 2px gray;
    margin: 30px;
}


#news-post-img {
    width: 90%;
    height: 500px;
}
#container {
    position: relative;
  }
#news-post-text {
  position: absolute;
  bottom: 20px;
  color: white;
}
  
#news-post-content {
    height: 300px;
    width:850px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-top: 50px;
}
#news-post-content p {
    color: white;
    width:50%;
    margin: 10px 0px 10px;
    padding-right: 5px;
}

.related-news-post {
    position: relative;
}
.related-news-text {
    position: absolute;
  bottom: 20px;
  color: white;
}

#contact-us p {
    margin: 0;
}

#social-media a {
   text-decoration: none;
   color:#AEB6BF ;
   display: inline-block;
   padding-bottom: 50px;

}
 time {
    
    color:#AEB6BF ;
 }

 #related-news {
     margin: 30px 30px 30px;
     display:flex;
 }
 #related-news-header {
     margin:30px;
 }

.related-news-post img {
    height: 400px;
}
 footer {
     display: flex;
 } 

footer div {
    margin: 0px 30px 40px;
    padding-right: 350px;
}
#follow-us {
    display: flex;
    flex-direction: column;
}




    

